

body {
    /*font-family: 'Arvo', serif;
    font-family: 'Libre Baskerville', serif;
    /*font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;*/
    font-family: 'Arvo', serif;
    font-family: 'Libre Baskerville', serif;
    background: rgb(25, 120, 38);
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
}
p{
    font-size:25px;
}
h1 {
    color : goldenrod;
    font-family: Georgia,serif;
    font-size: 35px;
}

#message-el {
    font-style: normal;
    font-weight: bold;
}

/* 3. Make sure that the two buttons have some space between
each other when they are rendered out vertically */
button {
    color: #016f32;
    width: 150px;
    font-family: Georgia,serif;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: white;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 4px;
}